<div class="user-info-modal">
  <div class="row">
    <div class="container">
      <div class="user-info-popout-panel">

        <div class="user-modal-stuff-container">
          <a class="btn btn-primary" id="modal-follow-user" href="#">Add to My Stream</a>
          <button class='btn' id="modal-close-button" href="#">X Close</button>

          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Simple_Music.svg/2000px-Simple_Music.svg.png" class="user-modal-img" alt="avatar not found :(" />
          <h1><%= user.escape('username') %></h1>
          <p><%= user.escape('description') %></p>

          <div class="row modal-stats">
            <div class="modal-stat-item col-md-4">
              <%= user.followers_count %><br>Followers
            </div>
            <div class="modal-stat-item col-md-4">
              <%= user.followeds_count %><br>Followings
            </div>
            <div class="modal-stat-item col-md-4">
              <%= user.track_count %><br>Tracks
            </div>
          </div>

          <table class="table table-striped table-hover" id="modal-track-table">

            <thead>
              <tr>
                <th style="text-align: center;">Title</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr class="active">
                <td>Title Name</td>
                <td><marquee behavior="scroll" direction="left">Here is some description</marquee></td>
                <td><a class="btn btn-warning" id="modal-track-switch" href="#">Play</a></td>
              </tr>

              <tr class="active">
                <td>Title Name</td>
                <td><marquee behavior="scroll" direction="left">Here is some description</marquee></td>
                <td><a class="btn btn-warning" id="modal-track-switch" href="#">Play</a></td>
              </tr>

              <tr class="active">
                <td>Title Name</td>
                <td><marquee behavior="scroll" direction="left">Here is some description</marquee></td>
                <td><a class="btn btn-warning" id="modal-track-switch" href="#">Play</a></td>
              </tr>

              <tr class="active">
                <td>Title Name</td>
                <td><marquee behavior="scroll" direction="left">Here is some description</marquee></td>
                <td><a class="btn btn-warning" id="modal-track-switch" href="#">Play</a></td>
              </tr>
            </tbody>

          </table>


        </div>

      </div>
    </div>
  </div>
</div>
