<!-- have user passed in -->

<div class="container-fluid">
  <img class="user-sidebar-img" src="<%= user.escape('image_url') %>" alt="image can't be found :(("/>
</div>

<hr>
<div class="sidebar-userinfo">
  <h1 class="sidebar-username"><%= user.escape('username') %></h1>
  <p class="sidebar-useremail"><%= user.escape('email') %></p>
  <div class='sidebar-userbio'>
    <% if(user.escape('description').length > 0){ %>
      <%= user.escape('description') %>
    <% }else{ %>
      <%= "Add a bio to your profile! :)" %>
    <% } %>
  </div>
</div>
<hr>

<div class="sidebar-datafield row">
  <div class="col-md-4 sidebar-data">
    <%= user.followers_count %><br>Followers
  </div>
  <div class="col-md-4 sidebar-data">
    <%= user.followeds_count %><br>Following
  </div>
  <div class="col-md-4 sidebar-data">
    <%= user.track_count %><br>Tracks
  </div>
</div>


<hr>

<a class="btn btn-default btn-lg btn-block" id="display-my-streams" href="#">My Streams</a></div>
<a class="btn btn-default btn-lg btn-block" id="display-own-tracks" href="#">My Own Tracks</a></div>
<a class="btn btn-default btn-lg btn-block" id="create-a-track" href="#">Make New Track</a></div>
<a class="btn btn-default btn-lg btn-block" id="explore-artists" href="#">Explore</a></div>

<hr>
