<div class="track-tab-image-holder">
  <img class="track-tab-img" src="<%= track.escape('image_url') %>" alt="" />
</div>

<div class="track-tab-title-holder">
  <h1 class="track-tab-header"><%= track.get('title') %> &nbsp;&nbsp; <small>by: <%= track.escape('username') %></small></h1>
</div>

<div class="track-tab-buffer"></div>

<marquee class="track-tab-marquee" behavior="scroll" direction="left"> <%= track.escape('description') %></marquee>

<% if(own){ %>
  <a class="btn btn-danger" id="track-edit" href="#">Edit Track</a>
  <a class="btn btn-danger" id="track-delete" href="#">Delete Track</a>
<% } %>

<a class="btn btn-warning" id="track-switch" href="#">Play Track</a>

<hr>

<% if(track.get('genres')){ %>
  <% if(track.get('genres').length < 1){ %>
    <div class="track-field-subinfo-tags" style="background-color: black;">No Genre</div>
  <% }else{ %>
    <% track.get('genres').forEach(function(genre){ %>
      <div class="track-field-subinfo-tags" style="background-color: <%= genre.genre_color %>;"><%= genre.name %></div>
    <% }) %>
  <% } %>
<% } %>
