<!DOCTYPE html>
<html>
<head>
  <title>Soundbolt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top title-navbar">
    <div class="container title-container">
      <div class="navbar-header">
        <div class="title-elements"><a href="<%= root_url %>" class="elegent-link"><strong>SoundBolt</strong></a></div>
      </div>

      <!-- <img src="http://netdna.webdesignerdepot.com/uploads/2012/10/9_weather-app-thunder.jpg" alt="#"
            style="width: 120px; height: 79px; margin-left: 100px;"/> -->

      <div class="nav navbar-nav navbar-right">
        <div class="title-elements title-small"><a href="#" class="elegent-link">About</a></div>
        <div class="title-elements title-small"><a href="#" class="elegent-link">Support</a></div>

        <% if current_user %>
          <div class="title-elements title-small"><a rel="nofollow" data-method="delete" href="<%= session_url %>" class="elegent-link">Sign Out</a></div>
        <% else %>
          <div class="title-elements title-small"><a href="<%= new_user_url %>" class="elegent-link">Sign Up</a></div>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="navbar-buffer"></div>

  <% if flash[:errors] %>
    <h1><%= flash[:errors] %></h1>
  <% end %>

  <div id="soundbolt-content-master" class="row">
    <%= yield %>
  </div>

  <div class="navbar-buffer"></div>

  <% if current_user %>
    <div class="soundbolt-toolbar navbar navbar-default navbar-fixed-bottom"
         id="soundbolt-player-master">
    </div>
  <% end %>

  <script>
    <% if current_user %>
      var currentUserId = <%= current_user.id %>;
      var currentUserAvatarUrl = '<%= current_user.avatar.url %>';
    <% end %>
  </script>

</body>
</html>
